.part1 {
  text-align: center;
}

.part2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer {
  text-align: center;
  font-size: x-large;
}

input {
  margin: 5px;
}

.btn {
  position: relative;
  background-color: rebeccapurple;
  top: 4px;
  height: 43px;
}

.btn:hover {
  cursor: pointer;
}
